@model Cat
@{
    ViewData["Title"] = "Delete";
}
<div class="row mb-2 ">
    <div class="col-2">
        <a title="Edit" class="btn btn-outline-light " asp-controller="Cats" asp-action="Edit" asp-route-id="@Model.CatId"><i class="bi bi-pencil"></i></a>
    </div>
</div>

<div class="text-center">
    <h2 class="text-danger">Do you Really want to Delete?</h2>
    <hr />
</div>

<div class="row ">

    <div class="col-12 offset-3">

        <form method="post" asp-action="Delete" enctype="multipart/form-data" asp-controller="Cats" asp-route-CatId="@Model.CatId">
            <div class="row from-group mb-2">
                <label asp-for="CatName" class="col-form-label col-2"></label>
                <div class="col-3">
                    <input type="text" asp-for="CatName" class="form-control" readonly />
                </div>
            </div>

            <div class="row from-group mb-2">
                <label asp-for="Dob" class=" col-form-label col-2"></label>
                <div class="col-3">
                    <input type="text" asp-for="Dob" class="form-control" readonly />
                </div>

            </div>

            <div class="row form-group mb-2">
                <label asp-for="Breed" class="col-form-label col-2"></label>
                <div class="col-3">
                    <input type="text" asp-for="Breed.BreedName" class="form-control" readonly />
                </div>
            </div>

            <div class="row form-group mb-2">
                <label asp-for="Gender" class="col-form-label col-2"></label>
                <div class="col-3">
                    <input type="text" asp-for="Gender" class="form-control" readonly />
                </div>
            </div>

            <div class="row form-group mb-2">
                <label asp-for="Available" class="col-form-label col-2"></label>
                <div class="col-3 pt-2">
                    <input type="checkbox" asp-for="Available" class="form-check-input " disabled />
                </div>

            </div>


            <div class="row from-group mb-2">
                <label asp-for="Picture" class="col-form-label col-2"></label>
                <div class="col-1">
                    <img src="~/Uploads/@ViewBag.CurrentPic" width="40" class="rounded-circle" />
                </div>
            </div>

            <div class="row from-group offset-2 mt-3">
                <button type="submit" class="btn btn-danger col-1">Delete</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-1">
            <a asp-action="Index" asp-controller="Cats">Back</a>
        </div>
    </div>
</div>

@section styles{
    <link href="~/libs/bootstrap/icons/font/bootstrap-icons.css" rel="stylesheet" />
}