@model CatViewModel
@{
    ViewData["Title"] = "Edit";
}


<div class="row mb-2 ">
    <div class="col-2">
        <a title="Delete" class="btn btn-outline-light " asp-controller="Cats" asp-action="Delete" asp-route-id="@Model.CatId"><i class="bi bi-trash"></i></a>
    </div>
</div>

<div class="text-center">
    <h2>Edit Cat</h2>
    <hr />
</div>

<div class="row ">

    <div class="col-12 offset-3">

        <form method="post" enctype="multipart/form-data" asp-action="Edit" asp-controller="Cats" asp-route-CatId="@Model.CatId">
            <div class="row from-group mb-2">
                <label asp-for="CatName" class="col-form-label col-2"></label>
                <div class="col-3">
                    <input type="text" asp-for="CatName" class="form-control" />
                </div>
                <span asp-validation-for="CatName" class="text-danger col-3"></span>
            </div>

            <div class="row from-group mb-2">
                <label asp-for="Dob" class=" col-form-label col-2"></label>
                <div class="col-3">
                    <input type="text" asp-for="Dob" class="form-control" />
                </div>
                <span asp-validation-for="Dob" class="text-danger col-3"></span>
            </div>

            <div class="row form-group mb-2">
                <label asp-for="Breed" class="col-form-label col-2"></label>
                <div class="col-3">
                    <select asp-for="BreedId" class="form-select" asp-items="@(new SelectList(ViewBag.Breeds,"BreedId","BreedName"))">
                        <option selected>----Select----</option>
                    </select>
                </div>
                <span asp-validation-for="BreedId" class="text-danger col-3"></span>
            </div>

            <div class="row form-group mb-2">
                <label asp-for="Gender" class="col-form-label col-2"></label>
                <div class="col-3">
                    <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                        <option selected>----Select----</option>
                    </select>
                </div>
                <span asp-validation-for="Gender" class="text-danger col-3"></span>
            </div>



            <div class="row from-group mb-2">
                <label asp-for="Picture" class="col-form-label col-2"></label>
                <div class="col-3">
                    <input type="file" asp-for="Picture" class="form-control" />
                </div>
                <div class="col-1">
                    <img src="~/Uploads/@ViewBag.CurrentPic" width="40" class="rounded-circle" />
                </div>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>


            <div class="row from-group mb-2">
                <label asp-for="Available" class="col-form-label col-2"></label>
                <div class="col-3">
                    <input type="checkbox" asp-for="Available" class="form-check-input" />
                </div>
            </div>

            <div class="row from-group offset-2 mt-3">
                <button type="submit" class="btn btn-success col-1">Update</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-1">
            <a asp-action="Index" asp-controller="Cats">Back</a>
        </div>
    </div>
</div>

@section styles{
    <link href="~/libs/bootstrap/icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/libs/datepicker/css/bootstrap-datepicker.standalone.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/libs/jquery/jquery.js"></script>
    <script src="~/libs/jquery/jquery.validate.js"></script>
    <script src="~/libs/jquery/jquery.validate.unobtrusive.js"></script>
    <script src="~/libs/datepicker/js/bootstrap-datepicker.js"></script>

    <script>
        $("#Dob").datepicker({
            format: "yyyy-mm-dd"
        })
    </script>
}

